.main_title{
    color: white;
    font-size: 100px;
    line-height: 100px;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-weight: thin;
}

.it_subheading{
    color: white;
    font-size: 30px;
    line-height: 300px;
    position: absolute;
    left: 45%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-weight: thin;
    font-style: italic;
}

.btn-lg{
    font-family: 'Raleway', sans-serif;
    width: 200px;
    border-radius: 15px;
    border-color: #314455;
    color: #314455;
    font-weight: bold;
    font-size: 25px;
    border: none;
}

.btn-lg-red{
    background-color: #d0787a;
    position: absolute;
    left: 70%;
    top: 46%;
    transform: translate(-50%, -50%);
}

.btn-lg-red:hover{
    background-color: #c25254;
    color: white;
    position: absolute;
    left: 70%;
    top: 46%;
    transform: translate(-50%, -50%);
}

.btn-lg-gray{
    background-color: #c6d0db;
    position: absolute;
    left: 70%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.btn-lg-gray:hover{
    background-color: #97aabd;
    color: white;
    position: absolute;
    left: 70%;
    top: 60%;
    transform: translate(-50%, -50%);
}
