.main-title{
    
    color: white;
    font-size: 100px;
    line-height: 100px;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-weight: thin;
    animation-name: fade-in-left;
    animation-duration: 2s;
}


.it-subheading{
    color: white;
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    left: 45%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-weight: thin;
    font-style: italic;
    animation-name: fade-in-bottom;
    animation-duration: 2s;
}

.btn-lg{
    font-family: 'Raleway', sans-serif;
    width: 200px;
    border-radius: 15px;
    border-color: #314455;
    color: #314455;
    font-weight: bold;
    font-size: 25px;
    border: none;
    animation-name: fade-in-right;
    animation-duration: 2s;
}

.btn-lg-red{
    background-color: #d0787a;
    position: absolute;
    left: 70%;
    top: 46%;
    transform: translate(-50%, -50%);
}

.btn-lg-red:hover{
    background-color: #c25254;
    color: white;
    position: absolute;
    left: 70%;
    top: 46%;
    transform: translate(-50%, -50%);
}

.btn-lg-gray{
    background-color: #c6d0db;
    position: absolute;
    left: 70%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.btn-lg-gray:hover{
    background-color: #97aabd;
    color: white;
    position: absolute;
    left: 70%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.fade-in-left {
	-webkit-animation: fade-in-left 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
	        animation: fade-in-left 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}
@-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-70%) translateY(-50%);
              transform: translateX(-70%) translateY(-50%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      opacity: 1;
    }
  }
@keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-70%) translateY(-50%);
              transform: translateX(-70%) translateY(-50%);;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      opacity: 1;
    }
  }
  

.fade-in-right {
	-webkit-animation: fade-in-right 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
	        animation: fade-in-right 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}
@-webkit-keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(0%) translateY(-50%);
              transform: translateX(0%) translateY(-50%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      opacity: 1;
    }
  }
@keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(0%) translateY(-50%);
              transform: translateX(0%) translateY(-50%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      opacity: 1;
    }
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
	        animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}
@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateX(-50%) translateY(200%);
              transform: translateX(-50%) translateY(200%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      opacity: 1;
    }
  }
@keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateX(-50%) translateY(200%);
              transform: translateX(-50%) translateY(200%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      opacity: 1;
    }
}
