.btn-submit{
    font-family: 'Raleway', sans-serif;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border-color: #314455;
    color: white;
    font-size: 20px;
    border: none;
    background-color: #c25254;
}

.btn-submit:hover{
    border-color: #314455;
    color: white;
    background-color: #d0787a;
    font-weight: bold;
    font-size: 20px;
    border: none;
}